.git
.gitattributes
.github
.gitignore
*docker*

.env
.env.*
!.env.example

/app
artifacts
build
node_modules
public/build
public/hot
public/storage
storage/pail
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
vendor

.vscode
.idea
.editorconfig
.phpunit.result.cache
/phpunit.xml
/tests